<%= form_for(@article, class: 'form-horizontal' ) do |f| %>

    <div class="form-horizontal">
      <div class="control-group">
        <div class =" control-label ">
          <%= f.label :title %>
        </div>
        <div class="controls">
          <%= f.text_field :title, placeholder: 'Title'  %> <br/>
        </div>
      </div>

      <div class="control-group">
        <div class =" control-label ">
          <%= f.label :content %>
        </div>
        <div class="controls">
          <%= f.text_area :content, :rows => 6 , placeholder: 'Write your Article ' %>
        </div>
      </div>

      <div class="control-group">
        <div class =" control-label ">
          <%= f.label :tags_list %>
        </div>
        <div class="controls">
          <%= f.text_field :tags_list, placeholder: "Enter tags separated by comma ',' " %>
        </div>
      </div>



      <div class="control-group">
        <div class="controls">
        <%= f.submit %>
        </div>
      </div>
    </div>
<% end %>